.chat_modal_box {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 0px 0px;
}

.chat_modal {
    width: 85%;
    height: 20%;
    display: flex;
    border-radius: 1rem;
    padding: 4% 2% 0% 4%;
    margin-bottom: 4%;
    box-shadow: 1px 1px 1px 3px rgba(212, 212, 212, 0.3);
    cursor: pointer;
}

.chat_modal>div {
    width: 86%;
}

.chat_modal_title {
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}

.chat_modal_content {
    width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat_modal_time {
    font-size: small;
    color: #c9c9c9;
    margin: 0;
}

.chat_room_top {
    width: 90%;
    display: flex;
    align-items: center;
}

.chat_room_top_first {
    width: 60%;
    display: flex;
    align-items: center;
}

.chat_room_top_first>img {
    width: 15%;
    height: 1%;
    opacity: 0.7;
    cursor: pointer;
}

.chat_room_top_name {
    margin-left: 3%;
    font-weight: bold;
    font-size: large;
}

.chat_room_top_second {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat_room_top_state {
    text-align: center;
    padding: 5px 10px 5px 10px;
    box-shadow: 1px 1px 1px 3px rgba(212, 212, 212, 0.3);
    cursor: pointer;
}

.chat_room_messagebox {
    width: 90%;
    height: 75%;
    margin-bottom: 5%;
    padding: 0% 3% 0% 3%;
    box-shadow: 1px 1px 1px 3px rgba(212, 212, 212, 0.3);
    overflow: scroll;
}

.chat_room_messagebox::-webkit-scrollbar {
    display: flex;
    width: 10px;
}

.chat_room_messagebox::-webkit-scrollbar-thumb {
    background-color: rgba(0, 178, 255, 0.3);
}

.chat_room_message_me_width{
    display: flex;
    flex-direction: row-reverse;
}

.chat_room_message_other_width{
    display: flex;
    align-items: center;
    background-color: white;
}

.chat_room_message_other_width>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat_room_message_other_width>div>p{
    margin-top: 3px;
    font-size: small;
}

.chat_room_message_other_profile{
    width: 50px;
    height: 48px;
    background-image: url('../../img/User-Circle-Single--Streamline-Core.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
}

.chat_room_message,
.chat_room_message_me {
    background-color: rgba(0, 178, 255, 0.1);
    padding: 3%;
}

.chat_room_message {
    width: max-content;
    max-width: 80%;
    margin-left: 5px;
    margin-bottom: 30px;
}

.chat_room_message_me {
    width: max-content;
    max-width: 80%;
    display: flex;
    flex-direction: row-reverse;
}

.chat_room_input_box {
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat_room_input_box>input {
    width: 80%;
    height: 100%;
    font-size: large;
    border: none;
    background-color: #D9D9D9;
    padding-left: 2%;
    color: black;
}

.chat_room_input_box>button {
    width: 13%;
    height: 70%;
    border: none;
    background-color: #D9D9D9;
    cursor: pointer;
}