.user_stack_box,
.user_profile_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_file_form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.user_intro_form_box {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.user_introduce {
    outline: none;
    border: none;
    border-bottom: solid 2px;
    width: 600px;
    height: 40px;
    font-size: large;
    margin-top: 50px;
    margin-bottom: 50px;
}

.user_time {
    outline: none;
    border: none;
    border-bottom: solid 2px;
    width: 70px;
    height: 40px;
    font-size: large;
    margin-bottom: 50px;
}

.user_stack_big_box,
.user_profile_big_box {
    width: 600px;
    display: flex;
    margin-bottom: 50px;
}

.user_select_stack_big_box,
.user_select_profile_big_box {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 50px;
}

.user_stack,
.user_profile_title,
.user_profile_stack,
.user_profile_period,
.user_profile_gitHub {
    outline: none;
    border: none;
    border-bottom: solid 2px;
    width: 300px;
    margin-bottom: 10px;
    font-size: large;
}

.user_stack_box>button,
.user_profile_box>button {
    width: 300px;
    background-color: #00B2FF;
    color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
}

.user_profileData_button_box {
    width: 600px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.user_profile_button_box {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.user_profile_button_box>button,
.user_profileData_button_box>button {
    width: 200px;
    background-color: #00B2FF;
    color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
}

.user_profile_list_box>ul>li {
    width: 265px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

.user_profile_list_box>ul>li>div>div {
    width: 600px;
    display: flex;
    align-items: center;
}

.user_profile_list_box>ul>li>div>div>p {
    color: #747474;
}

.user_profile_list_box>ul>li>button {
    opacity: 0;
}

.user_profile_list_box>ul>li:hover button {
    opacity: 1;
    background-color: white;
    border: none;
    cursor: pointer;
    color: #00B2FF;
    font-weight: bold;
    font-size: large;
}