.modal_mate_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal_mate_top>p {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.03);
    padding: 20px;
    cursor: pointer;
}

.modal_mate_main {
    height: 86%;
    padding-left: 7%;
}

.modal_mate_competition {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

.modal_mate_competition::-webkit-scrollbar {
    display: none;
}

.modal_mate_competition>p {
    background-color: #F3F3F3;
    border-radius: 2rem;
    padding: 5px 19px 5px 12px;
    color: #D2D2D2;
    margin-right: 2%;
    cursor: pointer;
}

.modal_mate_competition_p {
    margin-left: 15%;
    padding-top: 45%;
    color: #D2D2D2;
}

.modal_mate_non_competition_p {
    margin-left: 20%;
    padding-top: 45%;
    color: #00B2FF;
}

.modal_mate {
    height: 70%;
    overflow-y: auto
}

.modal_mate::-webkit-scrollbar{
    width: 10px;
}

.modal_mate::-webkit-scrollbar-thumb {
    background-color: rgba(0, 178, 255, 0.6);
    border-radius: 10px;
  }

.modal_mate_user.active {
    width: 87%;
    height: 27%;
    display: flex;
    align-items: center;
    border: solid 2px #0085FF;
    border-radius: 1rem;
    margin-bottom: 3%;
    padding: 0% 2% 0% 2%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.modal_mate_user.noactive {
    width: 87%;
    height: 27%;
    display: flex;
    align-items: center;
    border: solid 2px #eeeeee;
    border-radius: 1rem;
    margin-bottom: 3%;
    padding: 0% 2% 0% 2%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.modal_mate_user>div {
    width: 280px;
    margin-left: 3%;
}

.modal_mate_user>img {
    width: 66px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_mate_user>div>p {
    margin: 0;
}

.modal_mate_user_name {
    padding: 3% 0% 2% 0%;
    font-weight: 600;
}

.modal_mate_user_content {
    width: 70%;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.modal_mate_user_stack {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.modal_mate_user_stack>p {
    background-color: #00B2FF;
    color: white;
    border-radius: 2rem;
    padding: 3px 10px 3px 10px;
    margin: 3% 2% 0% 0%;
}

.modal_mate_content {
    margin-left: 15%;
    padding-top: 35%;
    color: #D2D2D2;
}

.modal_mate_group_button {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0085FF;
    border-radius: 0.6rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal_mate_group_button>p {
    margin: 5% 0% 5% 2%;
}

#name {
    font-size: large;
}