<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인화면</title>
</head>
<body>
<h1>메인입니당 엑셀 업로드 테스트~</h1>
<p>공모전 크롤링하기전 ALTER TABLE contest AUTO_INCREMENT = 1;</p>
<p>공모전 id 1부터 시작 안하면 participation 에러나요</p>

<h2>User Excel Upload</h2>
<form th:action="@{/addUserExcel}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="업로드 !">
</form>

<h2>Profile Excel Upload</h2>
<form th:action="@{/addProfileExcel}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="업로드 !">
</form>

<h2>Participation Excel Upload</h2>
<form th:action="@{/addParticipationExcel}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="업로드 !">
</form>

</body>
</html>